<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.engageft.fis.pscu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".OneToManyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LotusTheme">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_pdf"/>
        </provider>

        <activity android:name="com.engageft.fis.pscu.feature.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--If a Fragment doesn't want adjustResize, add
            activity!!.window.setSoftInputMode(WindowManager.LayoutParams.SOFT_INPUT_ADJUST_PAN)
            to the onCreateView method. The inverse does not work for unknown reason. -->
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".NotAuthenticatedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LotusTheme">
        </activity>

        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".AuthenticatedActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="onetomany" />
            </intent-filter>
        </activity>

        <activity android:name="com.engageft.fis.pscu.feature.WelcomeActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".SecurityQuestionsActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0087770d801e5ae649098c9ada1e25971551d31c" />
    </application>

</manifest>