<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.engageft.onetomany">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.engageft.onetomany.OneToManyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.engageft.feature.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--If a Fragment doesn't want adjustResize, add
            activity!!.window.setSoftInputMode(WindowManager.LayoutParams.SOFT_INPUT_ADJUST_PAN)
            to the onCreateView method. The inverse does not work for unknown reason. -->
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name="com.engageft.onetomany.NotAuthenticatedActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.engageft.onetomany.AuthenticatedActivity">

        </activity>

        <activity android:name="com.engageft.feature.WelcomeActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>